{% extends 'back/master.html' %}

{% load static %}


{% block mainblock %}
<!-- Change Password -->
<div class="card">
  <!-- right column -->
  <div class="col-md-12">
    <!-- Form Element sizes -->
    <div class="card card-success">
      <div class="card-header">
        <h3 class="card-title">{{sitename}}</h3>
      </div>
        <form action="{%url 'change_password' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
          {% csrf_token %}
          <div class="card-body">
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label for="oldpass">Old Password</label>
                  <input type="text" class="form-control" id="oldpass" name="oldpass" placeholder="Enter the old password">
                </div>
                <div class="col-md-6">
                  <label for="newpass">New Password</label>
                  <input type="text" class="form-control" id="newpass" name="newpass" placeholder="Enter the new password">
              </div>
            </div>
          <!-- /.card-body -->
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
<!-- End Change Password -->
{% endblock %}